<!-- dashboard.html -->



{% extends 'base/main.html' %}

 {% block content %} 
 <div class="main-wrapper-content">
 <div class="header-bar">
    
    <div>
        <h1>Hello {{ request.user|title}}</h1>
        <h3>Welcome to your Dashboard </h3>
    </div>
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}"> Logout</a>
    {% else %}
    <a href="{% url 'login' %}"> Login</a>
    {% endif %}
    
 </div>

 <!-- <div class="section">
    <a id="add-link"  href="{% url 'milk-create' %}">&#x2b;</a>
 </div> -->
 <div class="content-wrapper">
    <div class="left-side">
      <p><a {% if request.path == '/' %} class="active" {% endif %} href="{% url 'dashboard' %}">Home</a></p>
      <p><a {% if request.path == '/animals/' %} class="active" {% endif %} href="{% url 'animals' %}">Animal Details</a></p>
      <p><a {% if request.path == '/animal-health-records/' %}class="active"{% endif %} href="{% url 'animal-health-records' %}">Animal Health</a></p>
      <p><a {% if request.path == '/milk-records/' %} class="active" {% endif %} href="{% url 'milk-records' %}">Milk Records</a></p>
    
    </div>
    
 <div class="right-side">
<div class="top-bar-section">
    <div class="top-bar-individual-section">  
        <h1>No.of Animals</h1>
        <h3>{{ total_animals }}</h3>
    </div>
    <div class="top-bar-individual-section"> 
        <h1>Mortality Rate</h1> 
        <h3>3</h3>
    </div>
    <div class="top-bar-individual-section">  
        <h1>No. of Milk Liters Today</h1> 
        <h3>{{ total_milk }}</h3>
    </div>
    <div class="top-bar-individual-section">  
        <h1>No of Employees</h1> 
        <h3>3</h3>
    </div>
</div>
<div class="charts-container">
<div class="chart-one">
    <div>
        <canvas id="myChart" width="40" height="20"></canvas>
    </div>
</div>
<div class="chart-two">
    <div>
     <canvas id="animalMilkChart" width="40" height="45"></canvas>
 </div>
</div>
<div class="chart-two">
  <div>
   <canvas id="healthRecordsChart" width="40" height="45"></canvas>
</div>
</div>
</div>
<div class="section3-container">
  <div class="container-one">
    <div class="top-part">
    <div class="box1"></div>
    <div class="box1"></div>
    </div>
    <div class="lower-part">
      <div class="box1">kasia</div>
    <div class="box1">kaa</div>
    </div>
  </div>
  <div class="container-two">   
  </div>
  <div class="chart-two"> 
  </div>
  </div>
<script>
    var ctx1 = document.getElementById('myChart').getContext('2d');
    var Chart1 = new Chart (ctx1, {
      type: 'pie',
      data: {
        labels: [{% for type in animal_type %} '{{type}}', {% endfor %}],
        datasets: [{
          label: '# Animal in your Farm',
          data: [{% for number in animal_type_no %} '{{number}}', {% endfor %}],
          backgroundColor: [
            'rgba(255, 99, 132, 1)',  // Color for the first animal type
            'rgba(54, 162, 235, 1)', 
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',  // Color for the second animal type
            // Add more colors as needed for additional animal types
          ],
          borderColor: [
            'rgba(201, 203, 207, 1)',  
            'rgba(201, 203, 207, 1)',  
            'rgba(201, 203, 207, 1)',  
            'rgba(201, 203, 207, 1)',  
            'rgba(201, 203, 207, 1)',    // Border color for the first animal type
            // Border color for the second animal type
            // Add more border colors as needed for additional animal types
          ],
          borderWidth: 4
        }]
      },
      options: {
        plugins: {
          legend: {
            display: true,
            position: 'top',
          },
          title: {
            display: true,
            text: 'Animals in Your Farm by Type',
            font: {
              size: 20
            }
          },
          chartjs3d: {
            enabled: true, // Enable 3D effect
            alpha: 45,     // Angle of rotation
            beta: 0        // Elevation angle
          }
        }
      }
    });
      
    {% comment %} chart 2 {% endcomment %}
    var animalMilkRecords = {
        {% for animal_name, milk_amount in animal_milk_records.items %}
            '{{ animal_name }}': {{ milk_amount|floatformat }},
        {% endfor %}
    };
        
    // Extracting animal names and milk amounts from the data
    var animalNames = Object.keys(animalMilkRecords);
    var milkAmounts = Object.values(animalMilkRecords);
    var arrayObjects= Object.values(animalMilkRecords);

    console.log(animalNames)
    console.log(milkAmounts)
    
    // Creating a new Chart instance
    var ctx3 = document.getElementById('animalMilkChart').getContext('2d');
    var Chart2 = new Chart (ctx3, {
        type: 'bar',
        data: {
            labels: animalNames, // Animal names as labels
            datasets: [{
                label: 'Todays Milk (ltrs)',
                data: milkAmounts, // Milk amounts as data points
                backgroundColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 205, 86, 1)',
                'rgba(201, 203, 207, 1)',
                'rgba(200, 90, 200, 1)',
                'rgba(50, 200, 100, 1)',
                'rgba(100, 100, 200, 1)',
                ], // Blue color for bars
                borderColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 205, 86, 1)',
                'rgba(201, 203, 207, 1)',
                'rgba(200, 90, 200, 1)',
                'rgba(50, 200, 100, 1)',
                'rgba(100, 100, 200, 1)',], // Border color
                borderWidth: 1
            }]
      },
      options: {
        plugins: {
          legend: {
            display: true,
            position: 'top',
          },
          title: {
            display: true,
            text: 'Todays Milk Per Cow',
            font: {
              size: 20
            }
          },
          chartjs3d: {
            enabled: true, // Enable 3D effect
            alpha: 45,     // Angle of rotation
            beta: 0        // Elevation angle
          }
        }
      }
    });

    var ctx4 = document.getElementById('healthRecordsChart').getContext('2d');
    var myChart4 = new Chart(ctx4, {
    type: 'bar',
    data: {
        labels: {{ animal_names|safe }},
        datasets: [{
            label: 'Treatments',
            data: {{ record_counts|safe }},
            backgroundColor: [
               'rgba(200, 90, 200, 1)',
                'rgba(50, 200, 100, 1)',
                'rgba(100, 100, 200, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 205, 86, 1)',
                'rgba(201, 203, 207, 1)',
                'rgba(200, 90, 200, 1)',
                'rgba(50, 200, 100, 1)',
                'rgba(100, 100, 200, 1)',
                ], // Blue color for bars
                borderColor: [
                'rgba(200, 90, 200, 1)',
                'rgba(50, 200, 100, 1)',
                'rgba(100, 100, 200, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 205, 86, 1)',
                'rgba(201, 203, 207, 1)',
                        ], // Border color
                borderWidth: 1
            }]
      },
      options: {
        plugins: {
          legend: {
            display: true,
            position: 'top',
          },
          title: {
            display: true,
            text: 'No of Treatments per Cow',
            font: {
              size: 20
            }
          },
          chartjs3d: {
            enabled: true, // Enable 3D effect
            alpha: 45,     // Angle of rotation
            beta: 0        // Elevation angle
          }
        }
      }
    });

  </script>
{% endblock content %}

